{% extends "base.html" %}


{% block title %}Log-in{% endblock %}

{% block content %}
{% load socialaccount %}
{% providers_media_js %}


  <h1>Sign-in</h1>
  <div class="module">
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% else %}
      <p>Please, use the following form to log-in:</p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Log-in"></p>
      </form>

      <button><a href="{% provider_login_url 'google' %}"> Google login </a> </button>
      <button><a href="{% provider_login_url 'facebook' method='oauth2' %}"> Facebook login </a> </button>

    </div>
  </div>
{% endblock %}